<!doctype html>
<html>
    <head>
        <script src="js/d3.js"></script>
        <script src="js/revenue.js"></script>
    </head>

    <body>
        <h1>D3 Walkthrough</h1>
        <form>
            <label><input type="radio" name="display" value="area" checked />Area</label>
            <label><input type="radio" name="display" value="bar" />Bar</label>
            <label><input type="radio" name="display" value="line" />Line</label>
        </form>
        <div id="graph"></div>
    </body>
</html>
